/* style.css */
body{
  background: linear-gradient(#FF8B1C, #8AA1E5);
  color: blue;
  font-size: 25px;
  font-family: Georgia;
}
h1{
  font-family: Georgia;
  color: white;
  font-weight: lighter;
  font-size: 35px;
}
p {
  font-family: Georgia;
  color: white;
  font-weight: lighter;
  font-size: 20px;
}
a {
  font-size: 20px;
  color: white;
}
a:hover {
  text-decoration: none;
  color: red;
}
